{% extends "layout.html" %}

{% block content %}
<form action="/estim" method="post">
  <div class="title">
    <h1> {{ title }} </h1>
    <!-- <a class="home" href="/"><i class="fas fa-reply" style="font-size:35px;color:#1c87c9"></i></a> -->
  </div>
  <div class="info">
    <select name="system">
      <option value="metric">Système Métrique</option>
      <option value="imperial">Système Impérial</option>
    </select>
    <input type="number" min="0" step="0.01" name="carlength" placeholder="Longueur du véhicule (cm - inch)" required>
    <input type="number" min="0" step="0.01" name="carwidth" placeholder="Largeur du véhicule (cm - inch)" required>
    <input type="number" min="1" max="16" name="cylindernumber" placeholder="Nombre de cylindres" required>
    <input type="number" min="0" name="curbweight" placeholder="Poid à vide du véhicule (kg - lbs)" required>
    <input type="number" min="0" name="compressionratio" placeholder="Ratio de compression du véhicule" required>
    <input type="number" min="0" name="horsepower" placeholder="Puissance moteur du véhicule (ch)" required>
    <input type="number" min="0" step="0.01" name="highwaympg" placeholder="Consomation (l/100km - mpg)" required>
    <button type="submit">Estimer le véhicule</button>
  </div>
</form>
{% endblock %}
